################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomListApp/.vs
/CustomListApp/CustomListApp/bin/Debug/net10.0-windows
/CustomListApp/CustomListApp/obj
